/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 /* .parallax-container {
  height: 500px;
  }

  .parallax img{
    width: 100%;
    height: 100%;
  }
  
   @media only screen and (min-height : 700px) {
    .parallax-container{
      max-height: 200px;
    }
    .parallax img {
      height: 30%; /* or a little bit higher 
    }
  } 
  */
body{
  background-color: aliceblue;
}



footer.page-footer {
  margin: 0;
}
